/* PRACTICA CSS TEXTO UNION CON HTML */
h2{
    text-align: center;
}

div{
    width: 100px;
    height: 70px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

.overline{
    text-decoration: overline;
    text-decoration: color(red red green blue);
}
.line-through{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.Mix{
    text-decoration: underline overline;
}