/* PRACTICA CSS TEXTO UNION CON HTML */
h2{
    text-align: center;
}

div{
    width: 90px;
    height: 50px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

/* Los estilos que pueden tomar son solid, double, dotted, dashed, wavy */

.overline{
    text-decoration: overline red 2px;
}
.line-through{
    text-decoration: line-through yellow 2px;
}
.underline{
    text-decoration: underline green wavy 2px;
}
.Mix{
    text-decoration: underline overline;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.none{
    text-transform: none;
}

