/* PRACTICA CSS TEXTO UNION CON HTML */

div{
    width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

/* Los estilos que pueden tomar son solid, double, dotted, dashed, wavy */

.overline{
    text-decoration: overline red 2px;
}
.line-through{
    text-decoration: line-through yellow 2px;
}
.underline{
    text-decoration: underline green wavy 2px;
}
.Mix{
    text-decoration: underline overline;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.none{
    text-transform: none;
}
.spacing{
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 3px;
    /* white-space: nowrap; */
}
.shadow{
    text-shadow: 5px 5px 3px rgb(185, 185, 185);
}
.serif{
    font-family: serif;
}
.sans-serif{
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}
.cursive{
    font-family: cursive;
}
.fantasy{
    font-family: fantasy;
}